body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
  }
  
  #board {
    display: block;
    border: 2px solid#000;
    background-image: url('./img/flappybirdbg.png');
  }